@model IEnumerable<pso.cdd.model.cab_ts>
<style>
    .colorbox1 {
        background: rgba(199, 145, 33, 0.08);
        border-color: #c79121;
    }

    .colorbox2 {
        background: #e5f3ff;
        border-color: #c79121;
    }

    .colorbox3 {
        background: #e1f9e2;
        border-color: #c79121;
    }
    
    .placeholder{ font-size:12px; padding:2px;  }

</style>



        <hr />
        <div class="form-horizontal col-lg-12">
            <div>
                <span class="col-lg-2 col-md-2 col-xs-2 control-label">Buscar Periodos</span>
                <span class="col-lg-10 col-md-10 col-xs-10"> @Html.DropDownList("id_periodo_", (SelectList)ViewBag.id_periodo_, new { @class = "form-control" })</span>
            </div>

        </div>
        <br /><br /><hr />

        <table id="dt_basic" class="table table-striped table-bordered table-hover placeholder" style="width: 100%;">
            <thead>
                <tr>
                    <th class="colorbox1" data-hide="phone,tablet"> Supervisor</th>
                    <th class="colorbox2" data-hide="phone,tablet"> Gerente</th>
                    <th class="colorbox3" data-hide="phone,tablet"> Traducción</th>
                    <th class="placeholder">@Html.DisplayNameFor(model => model.empresas.nom_emp)</th>
                    <th data-class="expand" class="placeholder">@Html.DisplayNameFor(model => model.fecha)</th>
                    <th data-hide="phone">@Html.DisplayNameFor(model => model.usuarios.Nom_cor_usu)</th>
                    <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.valor_hh)</th>
                    <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.horas_comerciales)</th>
                    <th data-hide="phone,tablet">Total UF</th>
                    <th data-hide="phone">@Html.DisplayNameFor(model => model.categorias.nom_cat)</th>
                    <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.descr_esp)</th>
                    <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.descr_ing)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="colorbox1"></td>
                    <td class="colorbox2"></td>
                    <td class="colorbox3"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>

        <script>
            pageSetUp();
            var dataColumns = [
                     {
                         data: "ANALI", render: function (data, type, full, meta) {
                             if (data == '1') {
                                 return '<center><i class="glyphicon glyphicon-ok"></i></center>'
                             } else return '';
                         }
                     },
                     {
                         data: "REVI1", render: function (data, type, full, meta) {
                             if (data == '1') {
                                 return '<center><i class="glyphicon glyphicon-ok"></i></center>'
                             } else return '';
                         }
                     },
                     {
                         data: "REVI2", render: function (data, type, full, meta) {
                             if (data == '1') {
                                 return '<center><i class="glyphicon glyphicon-ok"></i></center>'
                             } else return '';
                         }
                     },
                     { data: "nomc_emp" },
                     { data: "fec" },
                     { data: "Nom_cor_usu" },
                     { data: "valor_hh" },
                     { data: "horas_comerciales" },
                     { data: "total" },
                     { data: "nom_cat" },
                     {
                         data: "descr_esp"//, render: function (data, type, full, meta) {
                          //   return '<textarea class="descripcion" rows="1">' + data + '</textarea> ';
                        // }
                     },
                     { data: "descr_ing" },
            ];


            var oTable = InicializaGrillaFiltroAjax("dt_basic", "@Url.Action("Get_tsXperiodo", "Reportes")", parameterFunction, dataColumns);




            //$('#dt_basic').on('draw.dt', function () {


            //    ver_markdown("descripcion");


            //});




            function parameterFunction(d) {
                return $.extend({}, d, {
                    "ID": $('#id_periodo_').val()
                });
            }

            $("#id_periodo_").change(function () {
                oTable.ajax.reload();
            });



        </script>
